<h2>Lorem Ipsum</h2>
<div class="content-container">
  <p class="primary">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec quam ut lacus semper varius sit amet eget enim.
    Etiam posuere aliquam lacus vitae maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Nulla facilisi. Sed feugiat, felis eu bibendum sollicitudin, nunc arcu pretium urna, id blandit
    lectus
    neque quis urna. Sed molestie, ex at commodo auctor, mauris nulla efficitur mi, id venenatis velit justo ut nibh.
  </p>
  <p class="secondary">
    Integer ut urna purus. In consequat bibendum aliquet. Sed eget enim ac nibh interdum finibus a non mauris.
    Suspendisse
    malesuada augue vitae sapien posuere, vitae eleifend ipsum dignissim. Ut hendrerit nisl ac massa lobortis viverra.
    Proin et est eget dolor faucibus venenatis. Maecenas dapibus, ante eu molestie consequat, massa nunc fringilla
    augue,
    id lobortis magna felis vel velit. Vivamus consectetur accumsan mauris, in pretium libero dictum in. Nullam quis
    nibh
    massa.
  </p>
</div>
